.MainContainer
{
    display: flex;
    margin: 50px 20px 20px 20px;
    padding: 10px;
    background-color: #f0dcbe;
    max-width: 350px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid black;
    user-select: none;
    min-height: 190px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.ImageConatiner
{
    display: flex;
}
.ImageConatiner img
{
    max-height: 180px;
    max-width: 150px;
    border-radius: 5px;
    align-items: center;
}
.LeftInnerConatiner
{
    padding: 20px 10px 0 20px;

}
.BrandNameContainer
{
    display: flex;
    justify-content: center;
}
.BrandNameContainer img{
    max-height: 50px;
    border-radius: 5px;
    max-width: 180px;
}

.LeftInnerConatiner .OfferContainer, .LeftInnerConatiner .CashBackContainer
{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    min-width: 130px;
}
.OfferContainer
{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.RupeeAdjustment
{
    margin-top: 5px;
}