*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
#HowDoesItWorkMainContainer>h1{
    text-align: center;
    padding: 0.5rem 1rem;
}
#HowDoesItWorkMainContainer
{
    width: 70vw;
    margin: 0 auto;
    padding: 10px;
    background-color: #F0EDCC;
    color: #02343F;
    position: relative;
}
#HowDoesItWorkMainContainer h1
{
    margin: 20px 10px;
    text-decoration: underline;
}
.List1
{
    margin-top: 10px;
}
.List1 li
{
    display: flex;
    font-size: 18px;
    margin: 5px 5px 7px 5px;
}
.List1 li p{
    margin-left: 10px;
}
.List1 li span{
    min-height: 10px;
}

#button
{
    padding: 5px;
    border-radius: 5px;
    color: #F0EDCC;
    background-color: #02343F;
    position: fixed;
    top:1rem;
    right:15rem;
}
#button span{
    color: #F0EDCC;
    font-size: 16px;
}

#button span:hover
{
    text-decoration: underline;
}