.ProductCarousel
{
    position: relative;
    overflow: hidden;
    padding: 20px;
}
.ProductContainer
{
    padding: 0 10px;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.ProductCarousel .PrevBtn, .ProductCarousel .NextBtn
{
    border: none;
    width: 60px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    top: 97px;
    border-radius: 10px;
    transition: transform .2s;
}
.ProductCarousel .NextBtn:hover,.ProductCarousel .PrevBtn:hover
{
    transform: scale(1.1);
}
.ProductCarousel .PrevBtn
{
    left: 0;
}
.ProductCarousel .NextBtn
{
    right: 0;
}
.ProductCarousel .NextBtn p,.ProductCarousel .PrevBtn p{
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.429);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    color: #0A1C30;
    cursor: pointer;
    width: 50px;
    height: 50px;
}