.Background
{
    height: 300px;
    background-color: #f2f2f2;
    position: relative;
    display: flex;
    justify-content: center;
}
#te1Container
{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 70%;
    flex-direction: column;
    background-color: white;
    padding: 20px 60px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    display: flex;
    height: 250px;
    width: 580px;
}
#teLink
{
    position: relative;
}
.Earning
{
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
    position: relative;
    height: 140px;
}
#tep
{
    font-size: 28px;
}
#teprice
{
    font-size: 22px;
    position: absolute;
    top: 60px;
    font-weight: 500;
}
#owall
{
    position: absolute;
    right: 10px;
    top: 25px;
    font-size: 28px;
    color:  rgb(151, 125, 230);
}
#temsg
{
    font-size: 16px;
    color: #787878;
}
.HomePageLink a
{
    display: inline-block;
    position: absolute;
    right: 25px;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    color: black;
}
.HomePageLink a:hover 
{
    background-color: black;
    color: white;
}