.TopCashbackStoresMainConatiner span
{
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 3rem;
}
.TopCashbackStoresCarousel
{
    position: relative;
    overflow: hidden;
    padding: 2rem 0;
}
.TopCashbackStoresContainer, .TopCashbackStoresContainer1
{
    display: flex;
    padding: 0 1rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0 3rem;
}
.TopCashbackStoresCarousel .PrevBtn, .TopCashbackStoresCarousel .NextBtn{
    border: none;
    width: 6rem;
    position: absolute;
    top: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1rem;
    transition: transform .2s;
    z-index: 10;
}
.TopCashbackStoresCarousel .NextBtn:hover,.TopCashbackStoresCarousel .PrevBtn:hover
{
    transform: scale(1.1);
}
.TopCashbackStoresCarousel .PrevBtn
{
    left: 0;
}
.TopCashbackStoresCarousel .NextBtn
{
    right: 0;
}
.TopCashbackStoresCarousel .NextBtn p,.TopCashbackStoresCarousel .PrevBtn p{
    font-size: 5rem;
    background-color: rgba(255, 255, 255, 0.429);
    box-shadow: rgba(0, 0, 0, 0.19) 0 1rem 2rem, rgba(0, 0, 0, 0.23) 0 6px 6px;
    border-radius: 1rem;
    color: #0A1C30;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
}