.edit-pop {
    width: 70vw;
    max-width: 600px;
    box-sizing: border-box;
    height: 100%;
    margin: 5rem auto;
    background-color: #bcbcf4;
    border-radius: 10px;
    padding: 1.5rem;
}

.edit-pop>h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem;
    padding-top: 0.4rem;
}
.edit-form {
    display: flex;
    flex-direction: column;
}

.edit-form>div>label {
    font-size: px;
    padding: 5px;
    margin: 10px;

}

.edit-form>div>input {
    width: 80%;
    height: 15px;
    border-radius: 5px;
    padding: 7px;
    margin: 10px;
}

.edit-form>input[type='submit'] {
    width: 20vw;
    max-width: 150px;
    height: 1.8rem;
    margin: 10px;
    color: white;
    background-color: orange;
    border-radius: 5px;
    font-size: 1rem;
}

.edit-form>input[type='submit']:hover {
    cursor: pointer;
    color: black;
}

.success-edit {
    width: 100%;
    color: black;
    margin: 10px;
    font-weight: bold;
}

.success-fail {
    width: 30%;
    color: black;
    margin: 10px;
    font-weight: bold;
}

#backbtn {
    width: 20vw;
    max-width: 150px;
    height: 1.8rem;
    margin: 10px;
    color: white;
    background-color: rgb(20, 216, 20);
    border-radius: 5px;
    font-size: 1rem;
}

#backbtn:hover {
    cursor: pointer;
    color: black;
    background-color: gray;
    font: bold;
}