.outer-support1 {
    border: 1px solid black;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    background-color: #bcbcf4;
    width: 400px;
    border-radius: 10px;
    border: 2px solid red;
}

.outer-outer-support {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(189, 189, 189, 0.5)
}

.close-button {
    position: relative;
    left: 100%;
    border-radius: 50px;
    background-color: red;
    width: 1.2rem;
    height: 1.2rem;
    color: white;
}

.close-button:hover {
    cursor: pointer;
}

.sup-container {
    display: flex;
    flex-direction: column;
}

.sup-head {
    text-align: center;
    justify-content: center;
}

.form-group>label {
    font-size: 1rem;
    font-weight: bold;
    margin: 16px 17px;
}

.form-group>input,
.form-group>textarea {
    font-size: 1rem;
    margin: 10px 16px;

    width: 90%;
    border-radius: 5px;
    box-sizing: border-box;
    height: 100%;
    padding: 6px;

}

.sup-btn {
    background-color: rgb(7, 250, 7);
    margin: 10px 16px;
    font-size: 1.1rem;
    padding: 2px 6px;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 10vw;
    height: 2rem;

}

button.sup-btn {
    display: block;
    justify-content: center;
    align-items: center;
}

.sup-btn:hover {
    cursor: pointer;
    font-size: large;
    color: aliceblue;
    background-color: rgb(5, 143, 5);
}

.sup-success {
    margin-top: 0px;
    margin-left: 16px;
    font-weight: bold;
}
#contact-form
{
    margin-top: 20px;
}