.TitleContainer
{
    display: flex;
    justify-content: space-between;
    background-color: #0a1c30;
    height: 73.5px;
    align-items: center;
    color: white;
    width: 100%;
}
.TitleContainer img
{
    height: 70px;
    position: absolute;
    left: 90px;
    z-index: 3;
}
.Registration button
{
    margin: 0px 10px;
    padding: 5px 10px;
    background-color: white;
    color: #0a1c30;
    font-weight: bold;
    border-radius: 5px;
}
.Registration button:hover
{
    background-color: #0a1c30;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
.SearchBar{
    border-radius: 5px;
    width:28rem;
    height:1.5rem;
    padding:5px;
    position: absolute;
    left: 20%;
}
#earning{
    text-decoration: none;
    color: white;
    position: absolute;
    right:330px;
    vertical-align: middle;
}
