.outer-reset{
    background-color: antiquewhite;
    width: 50vw;
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem 0;
    text-align: center;
    border-radius: 1rem;
}
.outer-reset>form>h2{
    font-size: 1.5rem;
    padding: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.inner-input>input{
    width: 80%;
    padding: 10px;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.outer-reset>form>input[type="submit"]{
    margin: 1rem;
    width: 30%;
    height: 2rem;
    background-color: rgb(13, 203, 13);
    border-radius: 1rem;
    color: white;
    font-weight: bold;
}
.outer-reset>form>input[type="submit"]:hover{
    cursor: pointer;
    background-color: green;
}