:root {
    --back: #435f7e;
}

.container1 {
    text-align: center;
    max-height: 600px;
    margin: 2.98rem auto;
    min-width: 320px;
    max-width: 320px;
    border: 2px solid black;
    background-color: var(--back);
    border-radius: 1rem;
    padding: 1rem;
}

.heading1 {
    padding: 0.5rem;
    font-size: 3rem;
    margin-top: 0rem;
    margin-bottom: 0.1rem;
    text-shadow: 2px 2px 5px black;
    color: white;
}

.input {
    margin: 1rem 0rem;
    padding: 1.2rem;
    font-size: 1rem;
    border-radius: 50px;
    width: auto;
}

.form {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.input[type="submit"] {
    background-color: greenyellow;
}

.input[type="submit"]:hover {
    background-color: green;
    font-weight: bolder;
    color: white;
}

.reset1 {
    text-decoration: underline;
    color: whitesmoke;
    margin: 1rem;
}

.reset1:hover {
    font-weight: bold;
}