.MainContainer1
{
    min-width: 31rem;
    max-height: 26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0 1rem 2rem, rgba(0, 0, 0, 0.23) 0 6px 6px;
    margin: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 0.7rem;
    transition: transform .2s;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.361);
}
.MainContainer1 .ImageContainer p
{
    position: absolute;
    top: 0.5rem;
    width: 23rem;
    height: 4rem;
    background-color: #E32636;
    border-radius: 3rem;
    left: -1.5rem;
    border-bottom-left-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.MainContainer1 .ImageContainer p::before
{
    content: "";
    position: absolute;
    top: 4.1rem;
    width: 1.5rem;
    height: 3rem;
    left: 0;
    background-color: #C60C30; /*#af43f1  #8045c6 */
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    z-index: 2;
}
.MainContainer1 .ImageContainer p::after{
    content: "";
    position: absolute;
    top: 4rem;
    width: 1.5rem;
    height: 1.5rem;
    left: 0;
    background-color: #E32636;
}
.AnchorContainer
{
    text-decoration: none;
    min-height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ImageContainer img
{
    margin-top: 4.5rem;
    height: 10rem;
}
.CashbackContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f07431;
    color: white;
    max-height: 3.5rem;
    padding: 0.5rem;
    border-radius: .5rem;
    padding: .5rem;
    margin: .5rem 0;
}


.CashbackContainer p{
    font-size: 1.8rem;
}
.TermsContainer p
{
    color: #349ff4;
    font-size: 1.7rem;
}
.MainContainer1:hover{
    transform: scale(1.02);
}
.TermsContainer p:hover,.CashbackContainer p:hover{
    text-decoration: underline;
    cursor: pointer;
}
@media screen and (max-width: 650px){
.MainContainer1 .ImageContainer p{
    width: 30rem;
}
}