.Background {
    height: 30rem;
    background-color: #d0b3fd;
    border: 2px solid black;
    padding: 2.5rem;
    position: relative;
    display: flex;
    justify-content: center;
}

#te1Container {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 40%;
    flex-direction: column;
    background-color: white;
    padding: 2rem 6rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1rem;
    display: flex;
    height: 27rem;
    width: 58rem;
}

#teLink {
    position: relative;
}

.Earning {
    display: flex;
    flex-direction: column;
    margin: 2.7rem .5rem;
    position: relative;
    height: 11rem;
}

#tep {
    font-size: 2.8rem;
}

#teprice {
    font-size: 2.2rem;
    position: absolute;
    top: 6rem;
    font-weight: 500;
}

#owall {
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    font-size: 2.8rem;
    color: rgb(151, 125, 230);
}

#temsg {
    font-size: 1.7rem;
    font-weight: 500;
    color: #787878;
    margin-bottom: 2rem;
}
.btns-earn
{
    position: relative;
    display: flex;
    justify-content: end;   
}
.HomePageLink
{
    width: 11rem;
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem;
    border-radius: 1rem;
    text-align: center;
}
.HomePageLink a {
    text-decoration: none;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 1rem;
    color: black;
    font-weight: bold; 
    font-size: 1.3rem;

}

.HomePageLink a:hover,
.btn-with:hover {
    background-color: #d0b3fd;
    color: black;
}

#order-container {
    background-color: #f2f2f2;
    width: 70rem;
    position: absolute;
    top: 46rem;
    margin: 0 auto;
    border-radius: 1rem;
    margin-top: 1rem;
}

#order {
    text-decoration: none;
    list-style: none;
    width: 70rem;
    padding: 1rem 0;
}

#order-heading {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}

#order-link {
    height: 6rem;
    padding: .5rem;
    margin: 1.6rem;
    background-color: antiquewhite;
    border-radius: 1.6rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.order-links {
    width: 100%;
}

#pending {
    width: 15rem;
    height: 3rem;
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 2rem;
    background: #ffb400;
    border: none;
    margin-top: 1.6rem;
    margin-right: 2.4rem;
}

#txt {
    display: block;
    margin: auto auto;
    font-size: large;
    font-weight: bold;
}

#day {
    display: block;
    margin: auto auto;
    text-align: justify;
    font-size: 1.4rem;
}

#with-error {
    color: red;
    padding: 1.6rem;
    padding-left: 0;
    margin-top: 3rem;
}

.btn-with {
    margin-right: 10rem;
}

.btn-add {
    margin-right: 16.4rem;
}
#order-link:hover{
    background-color: #d0b3fd;
}
@media screen and (max-width: 650px){
    #te1Container
    {
        width: 30rem;
    }
    #order-container
    {
        width: 40rem;
    }
    
    #order-link
    {
        width: 36rem;
    }
    .order-links
    {
        font-size: 1rem;
        width: 38rem;
    }
    #txt{
        font-weight: 500;
    }

  }