.Background
{
    height: 300px;
    background-color: #f2f2f2;
    position: relative;
    display: flex;
    justify-content: center;
}
#te1Container
{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 40%;
    flex-direction: column;
    background-color: white;
    padding: 20px 60px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1rem;
    display: flex;
    height: 250px;
    width: 580px;
}
#teLink
{
    position: relative;
}
.Earning
{
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
    position: relative;
    height: 140px;
}
#tep
{
    font-size: 28px;
}
#teprice
{
    font-size: 22px;
    position: absolute;
    top: 60px;
    font-weight: 500;
}
#owall
{
    position: absolute;
    right: 10px;
    top: 25px;
    font-size: 28px;
    color:  rgb(151, 125, 230);
}
#temsg
{
    font-size: 16px;
    color: #787878;
}
.HomePageLink a
{
    display: inline-block;
    position: absolute;
    right: 25px;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    color: black;
}
.HomePageLink a:hover 
{
    background-color: black;
    color: white;
}
#order-container{
    background-color: #f2f2f2;
    width: 700px;
    position: absolute;
    top: 26rem;
    margin: 0 auto;
    border-radius: 1rem;
    margin-top:1rem;
}
#order{
    text-decoration: none;
    list-style: none;
    width: 700px;
    padding: 1rem 0;
}
#order-heading{
    text-align: center;
}
#order-link{
    height: 60px;
    padding: 5px;
    margin: 1rem;
    background-color: antiquewhite;
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.order-links{
    width: 100%;
}
#pending{
    width: 150px;
    height: 30px;
    color: #ffffff;
    font-size: 12px;
    border-radius: 20px;
    background: #ffb400;
    border: none;
    margin-top: 1rem;
    margin-right: 2rem;
}
#txt{
    display: block;
    margin: auto auto;
    font-size: large;
    font-weight: bold;
}
#day{
    display: block;
    margin: auto auto;
    text-align: justify;
}
