.MainContainer1
{
    min-width: 280px;
    max-height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin: 10px 15px 10px 15px;
    border-radius: 7px;
    transition: transform .2s;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.361);
}
.MainContainer1 .ImageContainer p
{
    position: absolute;
    top: 0;
    width: 250px;
    height: 40px;
    background-color: #E32636 ;
    border-radius: 30px;
    left: -15px;
    border-bottom-left-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.MainContainer1 .ImageContainer p::before
{
    content: "";
    position: absolute;
    top: 41px;
    width: 15px;
    height: 30px;
    left: 0;
    background-color: #C60C30; /*#af43f1  #8045c6 */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;
}
.MainContainer1 .ImageContainer p::after{
    content: "";
    position: absolute;
    top: 40px;
    width: 15px;
    height: 15px;
    left: 0px;
    background-color: #E32636;
}
.ImageContainer img
{
    margin-top: 70px;
}
.CashbackContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f07431;
    color: white;
    max-height: 35px;
    padding: 0 5px;
    border-radius: 5px;
}


.CashbackContainer p{
    font-size: 15px;
}
.TermsContainer p
{
    color: #349ff4;
}
.MainContainer1:hover{
    transform: scale(1.02);
}
.TermsContainer p:hover,.CashbackContainer p:hover{
    text-decoration: underline;
    cursor: pointer;
}
